<nav class="navbar navbar-default" role="navigation" style="background: #403a3a;">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">
                Toggle navigation
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
        </button>
        <a class="navbar-brand" href="#" id="head-font1">
            Online Communication
        </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        {% include '_index/_nav_top_bar.html' %}
        <ul class="nav navbar-nav navbar-right" id="nav_right">
            {% include '_index/_search_top_bar.html' %} {% include '_index/_login_register.html'%}
        </ul>
        <!-- <span class="glyphicon glyphicon-user"></span> -->
    </div>
    <!-- /.navbar-collapse -->
</nav>
