@-ms-viewport       { width: device-width; }

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

.container {
    width: 90%;
}

.center {
    text-align: center;
    margin:10px auto;
}

.marginTop-1 {
    margin-top: 10px;
}

.marginTop-2 {
    margin-top: 20px;
}

.marginTop-3 {
    margin-top: 30px;
}

.padding-1 {
    padding: 5px 5xp;
}

.padding-2 {
    padding: 10px 10xp;
}

.paddingUD-1 {
    padding: 5px auto;
}

.paddingUD-2 {
    padding: 10px auto;
}

.paddingLR-1 {
    padding: auto 5px;
}

.paddingLR-2 {
    padding: auto 10px;
}


.portrait {
    margin-left: 25%;
}

.nav {
    background-color: #F5F5F5;
}

.bigblock {
    box-shadow:0 5px 20px #ccc;
}

.bigblock .navbar-form.navbar-right{
    margin-right:5px;
}

.bigblock .nav-tabs > li >a {
    line-height: 2;
}

.head-title {
    text-align: center;
}

.userinfo.form-control{
    margin: auto;
    width: 50%;
}

.navbar-potter {
    left: 0;
    top:0;
    position: fixed;
    width: 4%;
    height: 100%;
    background-color: #2f2f2f;
    box-shadow:20px 5px 20px #ccc;
}

.navbar-potter .row {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.navbar-potter .glyphicon {
    font-size: 20px;
    font-weight: bold;
}

/*
    1.body
    2.portrait info
    3.blog top bar
    4.user info
*/
/* daytime / night mode
$(".daytime,pre,p,h1,h2,h3,h4,h5,h6").css("background-color","black")
*/
.daytime {
    background-color: #FFF;
}

.night {
    background-color: #484848;
}

.article-excerpt {
    text-indent: 20px;
}

img {
    max-width: 100%;
}
