{% load markup %}

<div class="article-example">
  <h3 class="page-header" class="article-example-headfont">
      <a href="{{ article.get_absolute_url | urlencode }}">{{ article.title }}</a>
  </h3>
  <div class="info">{{ article.author.user.username }} / {{ article.date }}</div>
  {% for category in article.get_categories %}
  <div class="info">{{ category.name }} </div>
  {% endfor %}
  <div class="page-header" class="article-example-bodyfont">
      <small>
        {% if post %}
        {{ article.get_full_of_article | safe}}
        {% else %}
        {{ article.get_excerpt_of_article | safe}}
        {% endif %}
      </small>
  </div>
</div>
