<div class="">
    <img class="portrait img-circle" alt="..." title="Portrait" src="/static/{{ author.head_portrait.name }}" style="width:100px; height:100px;" />
    {% if permission %}
    <button class="btn btn-primary" data-toggle="modal" data-target="#upload_portrait" style="margin-left:60px;">上传头像</button>
    <!-- Modal -->
<!-- portrait modal begin -->
<div class="modal fade" id="upload_portrait" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <form enctype="multipart/form-data" action="{%url 'upload_portrait' author.user.username %}" method="post" role="file">
        {% csrf_token %}
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="">上传头像</h4>
      </div>
      <div class="modal-body">
            <img id="portrait_url" src="" alt="portrait">
            <input id="temp" type="file" name="portrait_image"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Upload</button>
      </div>
    </div>
    </form>
  </div>
</div>
<!-- portrait modal end -->

    {% endif %}
</div>
<div class="">
    <h1></h1>
</div>