<div class="row">
    <div class="btn-group center">
        <button type="button" class="btn btn-default" >{{ author.nickname }}</button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">&ensp;  
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="{%url 'user_info'%}">个人信息</a></li>
            <li><a href="{%url 'history'%}">登录历史</a></li>
            <li><a href="">主页</a></li>
            <li><a href="">系统消息</a></li>
            <li class="divider"></li>
            <li><a href="">友链</a></li>
        </ul>
    </div>
</div>

        