{% load markup %}

<div class="article-example">
  <h3 class="page-header" class="article-example-headfont">
      <a href="{{ article.get_absolute_url | urlencode }}">{{ article.title }}</a>
  </h3>
  <div class="info">
      <span>{{ article.author.user.username }} / {{ article.date }}</span>
      <span>words: {{ article.content | wordcount }}</span>
      <span class="#">
        {% if permission %}
        <a href="{{ article.get_edit_url }}"><span class="glyphicon glyphicon-edit" title="编辑"></span></a> |
        <a href="{{ article.get_delete_url }}"><span class="glyphicon glyphicon-remove-circle" title="删除"></span></a>
        {% else %}
        <a href="#"><span class="glyphicon glyphicon-share" title="分享"></span><span class="badge">0</span></a> | 
        <a href="{{ article.get_collect_url }}"><span class="glyphicon glyphicon-bookmark" title="收藏"></span><span class="badge">{{ article.collected }}</span></a> | 
        <a href="#"><span class="glyphicon glyphicon-heart" title="阅读"></span><span class="badge">{{ article.visit }}</span></a>
        {% endif %}
      </span>
  </div>
  {% for category in article.get_categories %}
  <div class="info">{{ category.name }} </div>
  {% endfor %}
  <div class="page-header" class="article-example-bodyfont daytime">
      <small>
        {{ article.get_full_of_article | safe }}
      </small>
  </div>
</div>

<div class="article-comment">
    <!-- blog article comment begin -->
    {%include 'blog/_blog_article_comments.html'%}
    <!-- blog article comment end -->
</div>