<!-- left side begin -->
      <div class="col-md-3">
        <!-- nav blog by category begin -->
          {%include 'blog/_nav_blog_by_category.html'%}
        <!-- nav blog category end -->
        
        <!-- nav blog by date begin -->
          {%include 'blog/_nav_blog_by_date.html'%}
        <!-- nav blog by date end -->
        
        <!-- nav blog by visit begin -->
          {%include 'blog/_nav_blog_by_visit.html'%}
        <!-- nav blog by visit end -->
        
      </div>
<!-- left side end -->

      <!-- right side begin -->
      <div class="col-md-7">
          <!-- blog articles in page begin -->
          {%include 'blog/_blog_articles_in_a_page.html'%}
          <!-- blog articles in page end -->
      </div>
<!-- right side end -->