<div class="btn-group" id="guidance">
    <button type="button" class="btn btn-info dropdown-toggle"data-toggle = "dropdown" id="btns">写新博客</button>
    <button type="button" class="btn btn-info dropdown-toggle"data-toggle = "dropdown" id="btns">目录视图</button>
    <button type="button" class="btn btn-info dropdown-toggle"data-toggle = "dropdown" id="btns">摘要视图</button>
    <button type="button" class="btn btn-info dropdown-toggle"data-toggle = "dropdown" id="btns">管理博客</button>
    <button type="button" class="btn btn-info dropdown-toggle"data-toggle = "dropdown" id="btns">管理博客</button>
</div>
