<div class="sort bigblock">
            <h2 class="subtitle center">阅读排行</h2>
            <table class="table table-hover">
            <tr>
                <td>等级:</td><td>12312</td>
            </tr>
            <tr>
                <td>积分:</td><td>120</td>
            </tr>
            <tr>
                <td>文章:</td><td>12312</td>
            </tr>
            <tr>
                <td>访问:</td><td>12312</td>
            </tr>
            <tr>
                <td>排名:</td><td>12312</td>
            </tr>
            </table>
</div>