<div class="row bigblock">
      <ul class="nav nav-tabs daytime">
        <li class="active daytime"><a href="{%url 'blog_author' author.user.username %}">Home</a></li>
        <li><a href="{%url 'blog_author' author.user.username %}">Profile</a></li>
        {% if permission %}
        <li><a href="{%url 'blog_write'%}">Write</a></li>
        {% endif %}
        <li><a href="#">Messages</a></li>
        <li><a href="{%url 'friend_links' author.user.username %}">Friend Link</a></li>
        <li><a href="{%url 'collections' author.user.username %}">Collections</a></li>
          
         <!-- section search begin -->
        <ul class="nav navbar-nav navbar-right daytime">
        <li>
            <form action="{{ author.get_search_url }}", method="get" class="navbar-form navbar-right">
              <div class="form-group">
                <input type="text" name="search" class="form-control daytime" placeholder="Search Article">
              </div>
              <button type="submit" class="btn btn-default daytime">Submit</button>
            </form>
        </li>
      </ul>
       <!-- section search begin -->
    </ul>
</div>