{% extends "base.html" %}

{% block script %}
{% load static %}
<script src="{% static 'js/editor/kindeditor-all.js' %}"></script>
<script src="{% static 'js/edit.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
<link rel="stylesheet" href="{% static 'css/hjh.css' %}" />
{% endblock %}

{% block body %}
<!-- nav bar left side begin -->
{%include 'blog/_nav_bar_left.html'%}
<!-- nav bar left side end -->

<!-- nav bar right side begin -->

<div class="container">
    <!-- right_top for sign in/up/out begin -->
    {%include 'blog/_nav_bar_right_top.html'%}
    <!-- right_top for sign in/up/out end -->
    
    <!-- blog navbar beigin -->
    {%include 'blog/_nav_bar_right_top_blog_nav.html'%}
    <!-- blog navbar end -->
  
    
    <!-- blog name begin -->
    {%include 'blog/_nav_bar_right_top_blog_name.html'%}
    <!-- blog name end -->

    <div class="row">
        <div class="col-md-10  bigblock">
        <!-- Page index/write/article diff begin -->
        {% block page %}
        {%include 'blog/_blog_index.html'%}
        {% endblock %}
        <!-- Page index/write/article diff end -->
        </div>
      
        <div class="col-md-2 bigblock">
            <!-- Portrait begin -->
              {%include 'blog/_blog_portrait.html'%}
            <!-- Portrait end -->


            <!-- username button begin -->
              {%include 'blog/_blog_portrait_info.html'%}
            <!-- username button end -->

            <!-- userinfo begin -->
            {%include 'blog/_blog_user_info.html'%}
            <!-- userinfo end -->
        </div>
    </div>
    
    <div class="row footer center">
        &copy;2014 Potter
    </div>
</div>
    
<!-- nav bar right side end -->
{% endblock %}