{% extends 'base.html' %}
{% block script%}
<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel = "stylesheet">
<link href="{{ STATIC_URL }}css/myblog.css" rel="stylesheet">
<script src="{{ STATIC_URL }}js/editor/kindeditor-all.js"></script>
{% endblock %}
{% block body %}
<div class = "container" id="page-up">
    <div id="up-left">
        {% block up_left%}
        {% endblock %}
    </div>

    <div id="up-right">
        {% block up_right%}
        {% endblock %}
    </div>
    {% block login_info%}
    {% endblock %}
    <div class="container" id="page-mid">
        <div id="page-mid-left">
            {% block page_mid_left%}
            {% endblock %}
        </div>
        <div id="page-mid-right">
            <div class = "container"id="mid-right-up">
                 {% block page_mid_right%}
                 {% endblock %}
            </div>
           
            <div id="mid-right-down">
                {% block mid_right_down%}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
