{% extends 'blog/blog_base.html' %}
{% block up_left%}
    {{ author.nickname }}'s blog
{% endblock %}

{% block up_right%}
    {% include 'blog/_nav_bar.html'%}
{% endblock %}
    
{% block login_info%}
    {% if not authenticated %}
    {% include 'account/_sign_in.html' %}
    {% else %}
    {% include 'account/_user_info.html' %}
    {% endif%}
{% endblock %}

{% block page_mid_right%}
    
{% endblock %}

{% block mid_right_down%}
    {% include 'blog/_resource.html' %}
    {% include 'blog/_blog_category.html' %} 
{% endblock %}
