{% extends "base.html" %}

{% block title %} Write Page {% endblock %}

{% block script %}
<script src="{{ STATIC_URL }}js/editor/kindeditor-all-min.js"></script>
<script src="{{ STATIC_URL }}js/edit.js"></script>
{% endblock %}

{% block body %} 
<div id="container">
	<div id="editText">
	<form action="" method="post">
		{% csrf_token %}
		<div>
			<p> Title: </p>
			<input type="text" name="title" />
		</div>
		<div>
			<p> Content: </p>
			<textarea id="content" style="width: 700px; height: 400px;" name="content"></textarea>
		</div>
		<div>
			<p> Content-Type: </p>
			<input type="text" style="width: 700px;" name="content_type"/>
		</div>
		<div>
			<p> Content-Excerpt: </p>
			<textarea name="excerpt" style="width: 700px; height: 100px"></textarea>
		</div>
		<input type="submit" value="发布" />
	</form>
	</div>
<div>
{% endblock %}
