{% extends "base.html" %}

{% block script %}
{% load static %}
<script src="{% static 'js/editor/kindeditor-all.js' %}"></script>
<script src="{% static 'js/edit.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
<link rel="stylesheet" href="{% static 'css/hjh.css' %}" />
{% endblock %}

{% block body %}
<!-- nav bar left side begin -->
{%include 'blog/_nav_bar_left.html'%}
<!-- nav bar left side end -->

<!-- nav bar right side begin -->

<div class="container">
    
    <!-- home section 1 begin -->
    <div class="col-md-3">
        <div class="cover-img" style="background-image:url({{ STATIC_URL }}images/2.jpg);height:100%;width:100%;"></div>
    </div>
    <!-- home section 1 end -->
    
    <div class="col-md-9">
    <!-- right_top for sign in/up/out begin -->
    {%include 'blog/_nav_bar_right_top.html'%}
    <!-- right_top for sign in/up/out end -->
    
    <!-- home beigin -->
    <div class="row">
        
        <!-- home section 2 begin -->
        <div class="col-md-7 bigblock">
            {%include 'blog/_blog_articles_in_a_page.html'%}
        </div>
        <!-- home section 2 end -->
        
        <div class="col-md-2">
        </div>
        
        <!-- home section 3 begin -->
        <div class="col-md-3 bigblock">
            3
        </div>
        <!-- home section 3 end -->
    </div>
    <!-- home end -->
    
    <div class="row footer">
        &copy;2014 Potter
    </div>
    </div>
</div>
    
<!-- nav bar right side end -->
{% endblock %}