{% extends 'base.html' %}

{% block title %}青岛大学在线学习交流平台{% endblock %}

{% block script %}
<link href ="{{ STATIC_URL }}css/Page.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/nav.css" rel="stylesheet">
<link href= "{{ STATIC_URL }}css/bootstrap.css" rel = "stylesheet">
{% endblock %}

{% block body %}
<div id="whole_container">
    <div id="page-up">
         {% include '_index/_index_top_bar.html' %}
    </div>

    <div class="container" id = "page-mid-and-down">
        <div id="page-mid">
            {% include '_index/_page_mid.html' %}
        </div>

       <div id="page-down">
            {% include '_index/_page_down.html' %} 
       </div>
    </div>
    
    <p id="pright">
            <a href="#" target="_self">返回顶部</a>
    </p>
</div>
{% endblock %}
